body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #f5f7faad;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h3,
h5,
h6,
p,
li,
a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #55aaff;
}
